body {
    margin: 0;
    font-size: 4rem;
    font-family: 'Arial', sans-serif;
    background-color: #e0d0d0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
.time-container{
    width: 98vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bbbbbb;
    padding: 20px;
    border-radius: 10px;
}
.time-btn{
    width: 30vw;
    height: 10vh;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: #111111;
    color: white;
    cursor: pointer;
    font-family: Arial;
}
#time-display{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh;
    height: 10vh;
}
h4{
    font-size: 3rem;
    padding: none;
    margin: 2vh;
    margin-bottom: 0vh;
}
#traffic{
    height: 60vh;
    width: 98vw;
    display: grid;
    grid-template-columns: repeat(4, 24vw);
    justify-content: space-between;
}
#traffic h5{
    padding: 0px;
    margin: 2vh;
}
.traffic-box{
    width: 24vw;
    border-radius: 1vh;
    background-color: #e0dfdf;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.traffic-info{
    width: 20vw;
    height: 15vh;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.traffic-light{
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.light{
    background-color: #101010;
    width: 5vw;
    height: 5vw;
    border-radius: 2.5vw;
}


@media screen and (max-width: 1000px) {
    body{
        height: 150vh;
    }
    #traffic {
        height: 100vh;
        width: 98vw;
        display: grid;
        grid-template-columns: repeat(2, 48vw);
        grid-template-rows: repeat(2, 49vh);
        align-content: space-around;
    }
    .traffic-box {
        width: 44vw;
        padding: 1vh;
        margin: 1vh;
    }
    .traffic-info {
        width: 40vw;
    }
    .traffic-light {
        width: 40vw;
    }
    .light {
        width: 10vw;
        height: 10vw;
        border-radius: 5vw;
    }
}
@media screen and (max-width: 750px) {
    body{
        height: 250vh;
    }
    #traffic {
        height: 200vh;
        width: 90vw;
        display: grid;
        grid-template-columns: 65vw;
        grid-template-rows: repeat(4, 49vh);
        justify-content: center;
    }
    .traffic-box {
        width: 60vw;
        padding: none;
        margin: none;
    }
    .traffic-info {
        width: 40vw;
    }
    .traffic-light {
        width: 40vw;
    }
    .light {
        width: 10vw;
        height: 10vw;
        border-radius: 5vw;
    }
}
@media screen and (max-width: 550px) {
    body{
        height: 250vh;
    }
    .time-container{
        width: 90vw;
    }
    #traffic {
        height: 200vh;
        width: 80vw;
        display: grid;
        grid-template-columns: 75vw;
        grid-template-rows: repeat(4, 49vh);
        justify-content: center;
    }
    .traffic-box {
        width: 70vw;
        
        padding: none;
        margin: none;
    }
    .traffic-info {
        width: 40vw;
    }
    .traffic-light {
        width: 40vw;
    }
    .light {
        width: 10vw;
        height: 10vw;
        border-radius: 5vw;
    }
}
